html {
	font-size: 15px;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
}

*,
*:before,
*after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	padding: 0;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/* Header
================*/

.header-menu {
	background-color: #ba0000;
}

.header-menu-inner {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.header-contacts {
	display: flex;
}


.header-nav-link.contact {
	margin-right: 2rem;
}

.header-icon {
	margin-right: 5px;
	height: 1rem;
}

.arrow-down {
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 5px;

	transition: color .2s linear;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Header Main
================*/

.header-main {
	background-color: #ffcc00;
}

.header-main-inner {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-main-logo {
	height: 50px;
	display: block;
}

.header-main-nav {
	display: flex;
}

.header-main-link {
	display: block;
	margin-right: 45px;

	font-weight: 400;
	font-family: inherit;
	color: #c31b00;
	text-decoration: none;

	transition: color .2s linear;
}

.header-main-link:hover {
	color: red;
}

.header-main-link.active {
	color: red;
	position: relative;
}

.header-main-link.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;

	font-weight: 700;
	background-color: red;

	left: 0;
	bottom: -48px;

}

.header-main-link:last-child {
	margin-right: 0;
}

.header-main-search {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 55px;
	height: 55px;

 	border-radius: 50%;
	transition: box-shadow .2s linear;
	background-color: #ba0000;
}

.header-main-search:hover {
	box-shadow: 0.4em 0.9em 1rem rgba(186, 0 ,0 , 0.5);
}

.zoom-icon {
	display: block;
}

/* Main
================*/

.main {
	width: 100%;
	height: 800px;
	background: url(img/bg.png) center no-repeat;
	background-size: cover;
}

.shadow {
	display: inline-block;
	width: 100%;
	height: 800px;
	background: url(img/bg-shadow.png)center no-repeat;
	background-size: cover;
}

.main-title {
	margin: 180px 0 25px;
	font-size: 70px;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
}

.main-content {
	padding-top: 20px;
	position: relative;
	color: #ffcc00;
	font-weight: 300;
}

.yellow-line {
	content: "";
	width: 100px;
	height: 4px;
	position: absolute;

	background-color: #ffcc00;
	top: 0;
	left: 0;
}

.main-service {
	margin: 45px 0 0;
	display: flex;
}

.service-item {
	margin-right: 25px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.service-point {
	margin-right: 25px;
	font-size: 30px;
	color: #ffcc00;
}

.main-btn {
	margin-top: 40px;
	display: flex;
}

.btn-more {
	margin-right: 22px;
	padding: 11px 2rem 11px 2rem;

	font-weight: 500;
	text-decoration: none;

	color: #c31b00;
	border-radius: 25px;
	background-color: #ffcc00;
	transition: box-shadow .2s linear;
}

.btn-more:hover {
	box-shadow: 5px 5px 20px 5px rgba(255, 204, 0, .5);
}

.btn-dhl-world {
	padding: 11px 2rem 11px 2rem;

	font-weight: 500;
	text-decoration: none;

	color: #fff;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px #fff solid;
	transition: box-shadow .2s linear;
}

.btn-dhl-world:hover {
	box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, .5);
}