html {
	font-size: 15px;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
}

*,
*:before,
*after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.page {
	overflow: hidden;
}

.container {
	padding: 0;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/* Header
================*/

.header-menu {
	background-color: #ba0000;
}

.header-menu-inner {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.header-contacts {
	display: flex;
}

.header-nav-link {
	transition: color .2s linear;
}

.header-nav-link:hover {
	cursor: pointer;
	color: #ccc;
}


.header-nav-link.contact {
	margin-right: 2rem;
}

.header-icon {
	margin-right: 5px;
	height: 1rem;
}

.arrow-down {
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 5px;

	transition: color .5s linear;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header-nav-link:hover .arrow-down {
	cursor: pointer;
	border-color: #ccc;
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}

/* Header Main
================*/

.header-main {
	background-color: #ffcc00;
}

.header-main-inner {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-main-logo {
	height: 50px;
	display: block;
}

.header-main-nav {
	display: flex;
}

.header-main-link {
	display: inline-block;
	margin-right: 45px;
	padding: 46px 0;

	font-weight: 400;
	font-family: inherit;
	color: #c31b00;
	text-decoration: none;

	border-bottom: 4px solid rgba(255, 255, 255, 0);
	transition: color .2s linear;
	transition: border-color .2s linear;
}

.header-main-link:hover {
	color: red;
	border-bottom: 4px red solid;
}

.header-main-link:last-child {
	margin-right: 0;
}

.header-main-search {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 55px;
	height: 55px;

 	border-radius: 50%;
	transition: box-shadow .2s linear;
	background-color: #ba0000;
}

.header-main-search:hover {
	box-shadow: 0.4em 0.6em 1rem rgba(186, 0 ,0 , 0.5);
}

.zoom-icon {
	display: block;
}

/* Main-Header
================*/

.main {
	width: 100%;
	height: 800px;
	background: url(img/bg.png) center no-repeat;
	background-size: cover;
}

.shadow {
	display: inline-block;
	width: 100%;
	height: 800px;
	background: url(img/bg-shadow.png)center no-repeat;
	background-size: cover;
}

.main-title {
	margin: 180px 0 25px;
	font-size: 70px;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
}

.main-content {
	padding-top: 20px;
	position: relative;
	color: #ffcc00;
	font-weight: 300;
}

.yellow-line {
	content: "";
	width: 100px;
	height: 4px;
	position: absolute;

	background-color: #ffcc00;
	top: 0;
	left: 0;
}

.main-service {
	margin: 45px 0 0;
	display: flex;
}

.service-item {
	margin-right: 25px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.service-point {
	margin-right: 25px;
	font-size: 30px;
	color: #ffcc00;
}

.main-btn {
	margin-top: 40px;
	display: flex;
}

.btn-more,
.btn-form {
	margin-right: 22px;
	padding: 11px 2rem 11px 2rem;

	font-weight: 500;
	text-decoration: none;

	color: #c31b00;
	border-radius: 25px;
	background-color: #ffcc00;
	transition: box-shadow .2s linear;
}

.btn-more:hover,
.btn-form:hover {
	box-shadow: 5px 5px 20px 5px rgba(255, 204, 0, .5);
}

.btn-dhl-world {
	padding: 11px 2rem 11px 2rem;

	font-weight: 500;
	text-decoration: none;

	color: #fff;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px #fff solid;
	transition: box-shadow .2s linear;
}

.btn-dhl-world:hover {
	box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, .5);
}


/* Main-Header
================*/

.main-services {
	background-color: #fff;
	max-height: 730px;
	height: 730px;
}

.services-header {
	margin: 140px 0 115px;
	font-size: 50px;
	font-weight: 500;
	color: #ba0000;
}

.services-content {
	display: flex;
}

.services.column.about {
	margin-right: 30px;
	
}

.services-subtitle {
	margin-bottom: 20px;
	font-size: 20px;
	color: #ba0000;
}

.services-text {
	margin-bottom: 25px;
	font-size: 16px;
	color: #777;
}

.services-more {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	transition: color .2s linear;
}

.services-more:hover {
	color: #565151;
}

.services-more span {
	font-weight: 700;
	font-size: 18px;
	color: #ba0000;
}

.services-img {
	display: block;
	margin-bottom: 30px;
}

/* Form */

.services-form {
	height: 345px;
	max-width: 270px;
	width: 100%;

	background-color: #ba0000;
}

.form-container {
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
}

.form-title {
	margin: 2rem 0 2rem;
	font-size: 20px;
	color: #fff;
}

.form-line {
	position: relative;
}

.form-text {
	margin-bottom: 40px;
	padding-top: 30px;
	font-size: 16px;
	color: #fff;

}

.little-line {
	content: "";
	width: 70px;
	height: 2px;
	position: absolute;

	background-color: #ffcc00;
	top: 0;
	left: 0;
}

.select {
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
	padding: 10px;

	font-style: inherit;
	font-size: 16px;
	font-weight: 500;

	appearance: none;
	color: #fff;
	background-color: #9d0000;
	border: none;
}

.select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.btn-form {
	font-family: inherit;
	border: none;
}



/* Main About
================*/

.main-about {
	height: 1010px;
	position: relative;
}

.main-about-bg {
	height: 700px;
	width: 100%;
	background: url(img/air-cars.png) center no-repeat;
	background-size: cover;
}

.main-about-shadow {
	height: 700px;
	width: 100%;
	background: url(img/overley.png) center no-repeat;
	background-size: cover;
}

.about-title {
	display: inline-block;
	margin-top: 150px;
	color: #fff;
	font-weight: 700;
	font-size: 50px;
}

.btn-more.active {
	position: absolute;
	padding: 25px 30px;
	margin-bottom: 175px;
	
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	font-size: 40px;

	top: 35%;
	left: 50%;

}

.aerospace {
	height: 410px;
	box-shadow: 4px 11px 29px 2px rgba(34, 60, 80, 0.2);
}


.aerospace h2, ul {
	margin-left: 30px;
}

.aerospace h2 {
	margin-top: 15px;
}


.about-flex {
	margin-top: 314px;
	display: flex;
	justify-content: space-between;
}

.list-element.about {
	color: #ffcc00;
}


/* Main-Form
================*/

.main-send {
	max-height: 635px;
	height: 100%;
}

.send-flex {
	display: flex;
}

.main-form {
	margin: 0 125px 90px 0;
	height: 535px;
	width: 570px;
	background-color: #ba0000;
}

.btn-flex {
	display: flex;
}

.form-btn {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;

	padding-top: 20px;
	width: 285px;
	height: 50px;
	text-align: center;
	transition: background .2s linear;
	transition: color .2s linear;
}

.form-btn:hover {
	background-color: #ffcc00;
	color: #ba0000;
	box-shadow: 4px 11px 29px 2px rgba(255, 204, 0, 0.4);

}

.form-btn.active {
	background-color: #ffcc00;
	color: #ba0000;
}

.form-logistic {
	margin: 40px auto;
	width: 490px;
}

.btn-form.logistic {
	margin-top: 15px;
	padding: 1rem 3.5rem;
	font-weight: 600;
	font-size: 18px;
}

.yellow-border {
	position: relative;
	width: 400px;
	height: 460px;
	border: 20px #ffcc00 solid;
}

.bayern {
	position: absolute;
	bottom: -50px;
	right:  -50px;
}

.bayern-fire {
	position: absolute;
	width: 435px;
	bottom: -50px;
	right:  -50px;
}

.bayern-logo {
	position: absolute;
	bottom: -50px;
	left: 25px;
}



/* Main-More
================*/

.main-more {
	height: 350px;
	background-color: #ba0000;
	color: #fff;
}

.more-flex {
	display: flex;
}

.more-content {
	display: inline-block;
	margin: 110px 200px 0 0;
	max-width: 630px;
	width: 100%;
}

.more-title {
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 600;
}

.more-text {
	font-size: 16px;
	font-weight: 500;
}

.btn-more.more {
	display: inline-block;
	margin-top: 200px;

	color: #fff;
	background-color: #a00000;
}

.btn-more.more:hover {
	box-shadow: 0px 5px 20px 10px rgba(255, 255, 255, .5);
}





/* Footer
================*/

.footer {
	max-height: 310px;
	background-color: #fff;
}

.footer-bg {
	display: flex;
	justify-content: center;
}

.footer-right-flex {
	display: flex;
}

.footer-left-flex {
	display: flex;
}

.footer-yellow {
	width: 40px;
	background-color: #ffcc00;
}

.footer-red {
	width: 40px;
	background-color: #ba0000;
}

.footer-img {
	display: block;
	height: 310px;
	
}
/* Footer-Content
================*/

.footer-content {
	width: 860px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}


/* Footer-List
================*/

.footer-title {
	font-size: 24px;
	font-weight: 500;
	color: #ba0000;
}

.footer-list {
	margin-top: 30px;
	padding: 0;
}

.list-element {
	font-weight: 700;
	color: #ba0000;
	list-style-type: none;
}

.list-link {
	padding-left: 5px;
	font-weight: 700;
	text-decoration: none;
	color: #808080;
	transition: color .2s linear;
}

.list-link:hover {
	color: #ffcc00;
}

.list-link.social:hover {
	color: #017edf;
}

